@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #4374b4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}
.banner .content{
  position: relative;
  max-width: 750px;
  text-align: center;
}
.banner .content h2{
  color: #fff;
  font-size: 60px;
}
.banner .content p{
  color: #fff;
  font-size: 18px;
}
.banner header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.banner header .logo{
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.banner header .toggle{
  position: relative;
  width: 36px;
  height: 28px;
  background: url(../images/toggle.png);
  background-size: cover;
  cursor: pointer;
}
.about{
  position: relative;
  width: 100%;
  display: flex;
}
.about .contentBx{
  background: #16353b;
  padding: 100px;
  width: 50%;
}
.heading{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx{
  background: url(../images/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.services{
  background: #102533;
  padding: 100px;
  text-align: center;
}
.services .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx{
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serviceBx img{
  max-width: 100px;
}
.services .container .serviceBx h2{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.technology{
  background: #fcd33f;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBx{
  max-width: 800px;
}
.technology .imgBx{
  max-width: 250px;
}
.technology .imgBx img{
  max-width: 100%;
}
.client{
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client .imgBx{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .imgBx img{
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .imgBx img:hover{
  opacity: 1;
  transition: 0.5s;
}
.testimonials{
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}
.testimonials .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testimonials .container .contentBx{
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .container .contentBx p{
  font-style: italic;
}
.testimonials .container .contentBx h3{
  width: 100%;
  text-align: end;
  font-weight: 500;
}
.contact{
  padding: 100px;
  background: #162c3b;
  text-align: center;
}
.imgBx2{
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.redbg{
  background: url(../images/red.jpg) !important;
  background-size: cover;
  background-position: center;
}
.form .inputBx{
  margin-bottom: 40px;
}
.form .inputBx input{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder{
  color: #fff;
}
.form .inputBx textarea{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  min-height: 150px;
  border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder{
  color: #fff;
}
.form .inputBx input[type="submit"]{
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400;
}
.footer{
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li{
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img{
  filter: invert(1);
  max-width: 20px;
}

@media (max-width: 991px){
  .banner{
    padding: 50px;
    transition: 0.5s;
  }
  .banner header{
    padding: 20px 50px;
    transition: 0.5s;
  }
  .banner .content h2{
    font-size: 35px;
    transition: 0.5s;
  }
  .banner .content p{
    font-size: 15px;
    transition: 0.5s;
  }
  .about{
    flex-direction: column;
    transition: 0.5s;
  }
  .about .contentBx, .about .imgBx{
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
    transition: 0.5s;
  }
  .services{
    padding: 50px;
    transition: 0.5s;
  }
  .services .container{
    justify-content: center;
    margin-top: 20px;
    transition: 0.5s;
  }
  .services .container .serviceBx{
    margin: 20px;
    width: 300px;
    height: 350px;
    transition: 0.5s;
  }
  .technology{
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
  }
  .technology .imgBx{
    margin-top: 40px;
    max-width: 250px;
    transition: 0.5s;
  }
  .client{
    padding: 50px;
    transition: 0.5s;
  }
  .client .imgBx{
    justify-content: center;
    transition: 0.5s;
  }
  .testimonials{
    padding: 50px;
    transition: 0.5s;
  }
  .testimonials .contentBx{
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
    transition: 0.5s;
  }
  .testimonials .contentBx:last-child{
    margin-bottom: 0px;
    transition: 0.5s;
  }
  .contact{
    padding: 50px;
    transition: 0.5s;
  }
  .footer{
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
    transition: 0.5s;
  }
  .footer ul{
    margin-bottom: 20px;
    transition: 0.5s;
  }
}


/*FOOTER*/
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    /*position: fixed;*/ /*If you want it to float put | Se quer que flutue coloque*/
    position: relative; /*If you want to float remove | Se quer que flutue retire*/
    display: flex; /*If you want to float remove | Se quer que flutue retire*/
    justify-content: center; /*If you want to float remove | Se quer que flutue retire */
    left: 0;
    right: 0;
    /*text-align: center;*/ /*If you want it to float put | Se quer que flutue coloque*/
    z-index: 999;
  }
  
  footer p {
    margin: 10px 0;
  }
  
  footer i {
    color: red;
  }
  
  footer a {
    color: #3c97bf;
    text-decoration: none;
  }