@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    -30deg,
    #2bf403 0%,
    #44b73a 50%,
    #262626 50%,
    #618b60 100%
  );
  filter: hue-rotate(120deg);
  animation: change 10s linear infinite;
}
@keyframes change {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.card {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.card::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 15%,
    transparent 50%,
    transparent 85%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.card .form {
  position: relative;
  width: 100%;
}
.card .form h2 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.card .form .input {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.card .form .input input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px 10px;
  padding-left: 35px;
  border-radius: 6px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 300;
}
.card .form .input input::placeholder {
  color: #fff;
}
.card .form .input input[type="submit"] {
  background: #fff;
  color: #111;
  max-width: 100px;
  padding: 8px 10px;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.card .form .input i {
  position: absolute;
  top: 13px;
  left: 13px;
  transform: scale(1);
  color: #fff;
}
.check {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}
.card .form p {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
}
.card .form a {
  color: #fff;
}

/*FOOTER*/
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed; /*If you want it to float put | Se quer que flutue coloque*/
  /*position: relative; /*If you want to float remove | Se quer que flutue retire*/
  /*display: flex; /*If you want to float remove | Se quer que flutue retire*/
  /*justify-content: center;*/ /*If you want to float remove | Se quer que flutue retire */
  left: 0;
  right: 0;
  text-align: center; /*If you want it to float put | Se quer que flutue coloque*/
  z-index: 999;
}

@media (max-width: 500px) {
  footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
