body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}
ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
}
ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}
ul li a:hover{
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}
ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e9cb24;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
ul li a:hover:before{
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
/*FOOTER*/
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}